html {
  font-size: 14px;
  box-sizing: border-box;
}

@media(min-width: 600px) {
  html {
    font-size: 16px;
  }
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  font-family: Helvetica, Arial, sans-serif;
  color: #423150;
  font-size: 100%;
  font-weight: 300;
}

